<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <test name="D:/EPAM edu projects/ecomerce_project">
        <classes>
            <class name="project.com.marlen.runners/CucumberTestRunner"/>
        </classes>
    </test>
</suite>
